<div class="book-card " style="width: 18rem;">
  <img src="{{artwork}}" class="card-img-top" alt="Book Title Cover">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{author}}</h6>
    {{#if description}}
    <p class="card-text">{{description}}</p>
    {{/if}}
    <a onclick="location.href='/dashboard/checkout/{{id}}" class="btn btn-primary">Check Book Out</a>
  </div>
</div>