<div class="container pt-5" id="userContainer">
    <h2>Hello, {{user.name}}</h2>
    <img src="" alt="User Photo" />
    <div class="listContainer container row justify-content-center">
        <div class="userLinks col">
            <div class="userList col align-top" id="dashboardLinks">
                <h5>{{user.name}}</h5>
                <ul class="list-group">
                    <a href="" class="list-group-item">Reading List</a>
                    <a href="" class="list-group-item">Favorites</a>
                    <a href="" class="list-group-item">Manage Libraries</a>
                    <a href="" class="list-group-item">Account</a>
                    <a href="" class="list-group-item">Logout</a>
                </ul>
            </div>

        </div>

        <div>
        <button>Click here to create a library{{libraries}}</button>   
        <button>Click here to update a library {{libraries}}</button>     

        </div>
        {{!-- <div class="userList col align-top" id="checkedOut">
            <h5>Checked Out</h5>
            <ul class="list-group">
                <li class="list-group-item">The Hobbit</li>
                <li class="list-group-item">The Pillars of the Earth</li>
                <li class="list-group-item">The Silence of the Lambs</li> --}}

                {{!-- if book us checked user logged in , then show book(s) else show message provide button to add
                books --}}
                {{#if user.librarybooks}}
                <div class="userList col align-top" id="checkedOut">
                    <h5>Checked Out</h5>
                    <ul class="list-group">
                        {{!-- for each checked out book --}}
                        <li class="list-group-item">{{book.title}}</li>
                        <li class="list-group-item">{{book.title}}</li>
                        {{else}}
                        <h1>You do not have any checked out books!
                            {{!-- add link to search or browse page --}}
                        </h1>

                    </ul>
                </div>
                {{/if}}


                {{!-- if user is the owner of a library then show all libraries they own , else show message --}}
                {{#if user.libraries }}
                <div class="userList col align-top">
                    <h5> {{user.name}} Libraries</h5>
                    <ul class="list-group">
                        {{!-- <li class="list-group-item"> {{library.name}}</li>
                        <li class="list-group-item"> {{library.name}}</li> --}}



                        {{!-- Placeholder Library Table --}}
                        <li class="list-group-item">Library One</li>
                         <li class="list-group-item">Library Two</li>

                        {{else}}
                        <h6>You do not have any libraries! CLick the button below to create a personlized library.</h6>

                        <button>Click here to create a library{{libraries}}</button>



                        {{!-- add link or button to create a library--}}

                    </ul>

                </div>
                {{/if}}
        </div>